.weathergrid {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    column-gap: 5vw;
}

.bordernone {
    border: none;
}

.weatherdatagrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 3vw;
}

.smalltext {
    font-size: small;
}
.smalltext:hover {
    cursor: pointer;
}

@media (max-width:600px) {
    .weathergrid {
        grid-template-columns: 1fr;
        row-gap: 5vw;
    }
    .weatherimagecontainer {
        display: flex;
        justify-content: center;
    }
}

@media (max-width:500px) {
    .weatherdatagrid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:350px) {
    .weatherdatagrid {
        grid-template-columns: 1fr;
    }
}